html {
  background-color: lightgrey;
}
body {
  margin: 30px;
  background-color: White;
  border-radius: 5%;
  text-wrap: balance;
  text-align: center;
}

img {
  border-radius: 5%;
  max-height: 40vh;
  margin-top: 20px;
}

.bold {
  font-weight: 700;
}
.normal{
  font-weight: 400;
  color:hsl(220, 15%, 55%)}
}