html {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items:  center;
  height:100vh;
}
.center {
  margin: 0 auto;
  background-color: White;
  border-radius: 5%;
  text-wrap: balance;
  text-align: center;
  max-width: 375px;
  padding: 1em;
  
}

img {
  border-radius: 5%;
  max-width: 100%;
}

.bold {
  font-weight: 700;
}
.normal{
  font-weight: 400;
  color:hsl(220, 15%, 55%)}
}